.menu {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.menu-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu-nav__curcle {
  width: 70px;
  height: 70px;
  background-color: #111;
  border-radius: 50%;
  display: flex;
  margin-left: 20px;
}
.menu-nav__rect {
  width: 90px;
  height: 50px;
  background-color: #111;
}

.menu-more {
  display: flex;
  align-items: center;
}

.menu-more__rect {
  width: 110px;
  height: 50px;
  background-color: #111;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.main {
  height: 700px;
  display: flex;
  margin-top: -100px;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  align-content: center;
}
.main-info {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.main-info__text {
  width: 300px;
  height: 300px;
  font-size: 20px;
}

.main-info__curcle {
  width: 200px;
  height: 200px;
  background-color: #111;
  border-radius: 50%;
  display: flex;
  margin-left: 20px;
}

.info {
  height: 600px;
  margin-top: -100px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.info-rect {
  height: 600px;
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-rect__more {
  height: 160px;
  width: 260px;
  background-color: #000000;
  margin-top: 30px;
}

.info-text {
  gap: 120px;
  display: flex;
  flex-direction: column;
}

.info-minirect {
  width: 360px;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 40px;
}

.info-minirect__info-text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.info-minirect__info-rect {
  width: 50px;
  height: 50px;
  background-color: #000000;
}

.info-minirect__info {
  display: flex;
  flex-direction: row-reverse;
}
